﻿#search-bar{
    margin-top: 8px;
    margin-left: 300px;
}

#top-nav-bar{
    /*background-image: url('../Image/back2.png')!important;
    background-size: auto, 5px!important;*/
    background-color: beige;
}
