﻿@{
    ViewBag.Title = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/Image/Banner/hinh1.png" alt="Chania" style="height: 400px; width: 1200px">
            <div class="carousel-caption">
            </div>
        </div>

        <div class="item">
            <img src="~/Image/Banner/hinh2.png" alt="Chania" style="height: 400px; width: 1200px">
            <div class="carousel-caption">
            </div>
        </div>

        <div class="item">
            <img src="~/Image/Banner/hinh3.png" alt="Flower" style="height: 400px; width: 1200px">
            <div class="carousel-caption">
            </div>
        </div>

        <div class="item">
            <img src="~/Image/Banner/hinh4.png" alt="Flower" style="height: 400px; width: 1200px">
            <div class="carousel-caption">
            </div>
        </div>
    </div>
</div>
<div class="feature 1" style="background-color: greenyellow; height: 400px; width: auto">

</div>