﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <form style="margin: 0 auto;">
        <div class="form-group">
            <label for="sel1">Main purpose</label>
            <select class="form-control" id="sel1">
                <option>Game</option>
                <option>Design</option>
                <option>Office</option>
                <option>Programming</option>
            </select>
        </div>
        <div class="form-group">
            <label>Budget</label>
            <input type="number" step="500000" min="5000000" max="50000000" value="5000000" class="form-control" id="email">
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</body>

