﻿@{
    ViewBag.Title = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/Image/banner1.jpg" alt="Chania" style="height: 400px; width: 1200px">
            <div class="carousel-caption">
                <h3>Feature 1 </h3>
                <p>Decription for feature 1</p>
            </div>
        </div>

        <div class="item">
            <img src="~/Image/at2.jpg" alt="Chania" style="height: 400px; width: 1200px">
            <div class="carousel-caption">
                <h3>Feature 2</h3>
                <p>Decription for feature 2</p>
            </div>
        </div>

        <div class="item">
            <img src="~/Image/at3.jpg" alt="Flower" style="height: 400px; width: 1200px">
            <div class="carousel-caption">
                <h3>Feature 3</h3>
                <p>Decription for feature 3</p>
            </div>
        </div>

        <div class="item">
            <img src="~/Image/at4.jpg" alt="Flower" style="height: 400px; width: 1200px">
            <div class="carousel-caption">
                <h3>Feature 4</h3>
                <p>Decription for feature 4</p>
            </div>
        </div>
    </div>
</div>
<div class="feature 1" style="background-color: greenyellow; height: 400px; width: auto">

</div>