﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="header_slide">
    <div class="header_bottom_left">
        <div class="categories">
            <ul>
                <h3>Categories</h3>
                <li><a href="#">CPU</a></li>
                <li><a href="#">RAM</a></li>
                <li><a href="#">Main Board</a></li>
                <li><a href="#">PSU</a></li>
                <li><a href="#">Monitor</a></li>
                <li><a href="#">VGA</a></li>
                <li><a href="#">Drive</a></li>
            </ul>
        </div>
    </div>
    <div class="clear"></div>
</div>
   </div>
<div class="main">
    <div class="content">
        <div class="content_top">
            <div class="heading">
                <h3>New Products</h3>
            </div>
            <div class="clear"></div>
        </div>
        <div class="section group">
            <div class="grid_1_of_4 images_1_of_4">
                <a href="preview.html"><img src="~/Image/tmp1.jpg" alt="" /></a>
                <h2>Core i7 Skylake </h2>
                <div class="price-details">
                    <div class="price-number">
                        <p><span class="rupees">$399.99</span></p>
                    </div>
                    <div class="add-cart">
                        <h4><a href="preview.html">Add to Cart</a></h4>
                    </div>
                    <div class="clear"></div>
                </div>

            </div>
            <div class="grid_1_of_4 images_1_of_4">
                <a href="preview.html"><img src="images/feature-pic2.jpg" alt="" /></a>
                <h2>Product 2</h2>
                <div class="price-details">
                    <div class="price-number">
                        <p><span class="rupees">$0</span></p>
                    </div>
                    <div class="add-cart">
                        <h4><a href="preview.html">Add to Cart</a></h4>
                    </div>
                    <div class="clear"></div>
                </div>

            </div>
            <div class="grid_1_of_4 images_1_of_4">
                <a href="preview.html"><img src="images/feature-pic3.jpg" alt="" /></a>
                <h2>Product 2</h2>
                <div class="price-details">
                    <div class="price-number">
                        <p><span class="rupees">$0</span></p>
                    </div>
                    <div class="add-cart">
                        <h4><a href="preview.html">Add to Cart</a></h4>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="grid_1_of_4 images_1_of_4">
                <a href="preview.html"><img src="images/feature-pic4.jpg" alt="" /></a>
                <h2>Product 2</h2>
                <div class="price-details">
                    <div class="price-number">
                        <p><span class="rupees">$0</span></p>
                    </div>
                    <div class="add-cart">
                        <h4><a href="preview.html">Add to Cart</a></h4>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="content_bottom">
            <div class="heading">
                <h3>Feature Products</h3>
            </div>
            <div class="clear"></div>
        </div>
        <div class="section group">
            <div class="grid_1_of_4 images_1_of_4">
                <a href="preview.html"><img src="~/Image/tmp2.JPG" alt="" /></a>
                <h2>GTX1080</h2>
                <div class="price-details">
                    <div class="price-number">
                        <p><span class="rupees">$699</span></p>
                    </div>
                    <div class="add-cart">
                        <h4><a href="preview.html">Add to Cart</a></h4>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="grid_1_of_4 images_1_of_4">
                <a href="preview.html"><img src="images/new-pic2.jpg" alt="" /></a>
                <h2>Product 2</h2>
                <div class="price-details">
                    <div class="price-number">
                        <p><span class="rupees">$0</span></p>
                    </div>
                    <div class="add-cart">
                        <h4><a href="preview.html">Add to Cart</a></h4>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="grid_1_of_4 images_1_of_4">
                <a href="preview.html"><img src="images/new-pic4.jpg" alt="" /></a>
                <h2>Product 2</h2>
                <div class="price-details">
                    <div class="price-number">
                        <p><span class="rupees">$0</span></p>
                    </div>
                    <div class="add-cart">
                        <h4><a href="preview.html">Add to Cart</a></h4>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="grid_1_of_4 images_1_of_4">
                <a href="preview.html"><img src="images/new-pic3.jpg" alt="" /></a>
                <h2>Product 2</h2>
                <div class="price-details">
                    <div class="price-number">
                        <p><span class="rupees">$0</span></p>
                    </div>
                    <div class="add-cart">
                        <h4><a href="preview.html">Add to Cart</a></h4>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
