﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE HTML>
<html>
<head>
    <title>Mobilestore Website Template | Home :: W3layouts</title>
    <link href="~/CSS/Store/style.css" rel="stylesheet" type="text/css" media="all" />
    <meta name="keywords" content="Mobilestore iphone web template, Andriod web template, Smartphone web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <link href='http://fonts.googleapis.com/css?family=Londrina+Solid|Coda+Caption:800|Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/CSS/Store/responsiveslides.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="~/Scripts/Store/responsiveslides.min.js"></script>    
    <script>
		    // You can also use "$(window).load(function() {"
			    $(function () {

			      // Slideshow 1
			      $("#slider1").responsiveSlides({
			        maxwidth: 1600,
			        speed: 600
			      });
			});
    </script>
    <script>
        var vb = @Html.Raw(Json.Encode(ViewBag.res));
    </script>
    <script src="~/Scripts/Store/Cat.js"></script>
</head>
<body>
    <!--start-image-slider---->
    <div class="wrap">
        <div class="image-slider">
            <!-- Slideshow 1 -->
            <ul class="rslides" id="slider1">
                <li><img src="~/Image/newproduct/product1.png" alt=""></li>
                <li><img src="~/Image/newproduct/product2.png" alt=""></li>
                <li><img src="~/Image/newproduct/product3.png" alt=""></li>
            </ul>
            <!-- Slideshow 2 -->
        </div>
        <!--End-image-slider---->
    </div>
    <div class="clear"> </div>
    <div class="wrap">
        <div class="content">
            <div class="top-3-grids">
                <div class="section group">
                    <div class="grid_1_of_3 images_1_of_3">
                        <a href="single.html"><img src="images/grid-img1.jpg"></a>
                        <h3>Lorem Ipsum is simply dummy text </h3>
                    </div>
                    <div class="grid_1_of_3 images_1_of_3 second">
                        <a href="single.html"><img src="images/grid-img2.jpg"></a>
                        <h3>Lorem Ipsum is simply dummy text </h3>
                    </div>
                    <div class="grid_1_of_3 images_1_of_3 theree">
                        <a href="single.html"><img src="images/grid-img3.jpg"></a>
                        <h3>Lorem Ipsum is simply dummy text </h3>
                    </div>
                </div>
            </div>

            <div class="content-grids" id="cat-con">
                <h4 id="cat-name"></h4>     

            </div>
            <div class="content-sidebar">
                <h4>Categories</h4>
                <ul>
                    <li><a href="http://localhost:1289/Store/Category?cat=1">MainBoard</a></li>
                    <li><a href="http://localhost:1289/Store/Category?cat=2">CPU</a></li>
                    <li><a href="http://localhost:1289/Store/Category?cat=3">RAM</a></li>
                    <li><a href="http://localhost:1289/Store/Category?cat=4">Monitor</a></li>
                    <li><a href="http://localhost:1289/Store/Category?cat=5">VGA</a></li>
                    <li><a href="http://localhost:1289/Store/Category?cat=6">Hard Drive</a></li>
                    <li><a href="http://localhost:1289/Store/Category?cat=7">PSU</a></li>
                </ul>
            </div>
        </div>
        <div class="clear"> </div>
    </div>
</body>
</html>

