﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE HTML>
<html>
<head>
    <title>Mobilestore Website Template | single :: W3layouts</title>
    <link href="~/CSS/Store/style.css" rel="stylesheet" type="text/css" media="all" />
    <meta name="keywords" content="Mobilestore iphone web template, Andriod web template, Smartphone web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <link href='http://fonts.googleapis.com/css?family=Londrina+Solid|Coda+Caption:800|Open+Sans' rel='stylesheet' type='text/css'>
    <script src="~/Scripts/Store/jquery-1.3.2.min.js" type="text/javascript"></script>
    <script src="~/Scripts/Store/jqzoom.pack.1.0.1.js" type="text/javascript"></script>
    <link rel="stylesheet" href="~/CSS/Store/jqzoom.css" type="text/css">
    <script type="text/javascript">
			$(function() {
				$(".jqzoom").jqzoom();
			});
    </script>
    <script>
		$(document).ready(function(){
			$(".menu_body").hide();
			//toggle the componenet with class menu_body
			$(".menu_head").click(function(){
				$(this).next(".menu_body").slideToggle(600);
				var plusmin;
				plusmin = $(this).children(".plusminus").text();

				if( plusmin == '+')
				$(this).children(".plusminus").text('-');
				else
				$(this).children(".plusminus").text('+');
			});
		});
    </script>
</head>
<body>
    @*<div class="wrap">
        <!----start-Header---->
        <div class="header">
            <div class="search-bar">
                <form>
                    <input type="text"><input type="submit" value="Search" />
                </form>
            </div>
            <div class="clear"> </div>
            <div class="header-top-nav">
                <ul>
                    <li><a href="#">Register</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Develivery</a></li>
                    <li><a href="#">Checkout</a></li>
                    <li><a href="#">My account</a></li>
                    <li><a href="#"><span>shopingcart&nbsp;&nbsp;: </span></a><lable> &nbsp;noitems</lable></li>
                </ul>
            </div>
            <div class="clear"> </div>
        </div>
    </div>
    <div class="clear"> </div>
    <div class="top-header">
        <div class="wrap">
            <!----start-logo---->
            <div class="logo">
                <a href="index.html"><img src="images/logo.png" title="logo" /></a>
            </div>
            <!----end-logo---->
            <!----start-top-nav---->
            <div class="top-nav">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="store.html">Store</a></li>
                    <li><a href="store.html">Featured</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
            <div class="clear"> </div>
        </div>
    </div>*@
    <!----End-top-nav---->
    <!----End-Header---->
    <div class="clear"> </div>
    <div class="wrap">
        <div class="content">
            <div class="content-grids">
                <div class="details-page">
                    <div class="back-links">
                        <ul>
                            <li><a href="#">Home</a><img src="images/arrow.png" alt=""></li>
                            <li><a href="#">Product</a><img src="images/arrow.png" alt=""></li>
                            <li><a href="#">Product-Details</a><img src="images/arrow.png" alt=""></li>
                        </ul>
                    </div>
                </div>
                <div class="detalis-image">
                    <div id="content">
                        <a href="~/Image/CPU/CPU001.jpg" class="jqzoom" style="" title="Product-Name"> <img src="~/Image/CPU/CPU001.jpg" title="Product-Name" style="border: 1px solid #e5e5e5;"> </a>
                    </div>
                </div>
                <div class="detalis-image-details">
                    <div class="details-categories">
                        <ul>
                            <li><h3>Category:</h3></li>
                            <li class="active1"><a href="#"><span>Nokia Mobiles</span></a></li>
                            <li><a href="#">HTC Mobiles</a></li>
                            <li><a href="#">Iphone Mobiles</a></li>
                            <li><a href="#">Zen Mobiles</a></li>
                        </ul>
                    </div><br />
                    <div class="brand-value">
                        <h3>Product-Complete Deatils With Value</h3>
                        <div class="left-value-details">
                            <ul>
                                <li>Price:</li>
                                <li><span>$350</span></li>
                                <li><h5>$250</h5></li>
                                <br />
                                <li><p>Not rated</p></li>
                            </ul>
                        </div>
                        <div class="right-value-details">
                            <a href="#">Instock</a>
                            <p>No reviews</p>
                        </div>
                        <div class="clear"> </div>
                    </div>
                    <div class="brand-history">
                        <h3>Description :</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        <a href="#">Addcart</a>
                    </div>
                    @*<div class="share">
                        <ul>
                            <li> <a href="#"><img src="images/facebook.png" title="facebook" /> FaceBook</a></li>
                            <li> <a href="#"><img src="images/twitter.png" title="Twiiter" />Twiiter</a></li>
                            <li> <a href="#"><img src="images/rss.png" title="Rss" />Rss</a></li>
                        </ul>
                    </div>*@
                    <div class="clear"> </div>

                </div>
                <div class="clear"> </div>
                <div class="menu_container">
                    <p class="menu_head">Lorem Ipsum<span class="plusminus">+</span></p>
                    <div class="menu_body" style="display: none;">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                    <p class="menu_head">About Product<span class="plusminus">+</span></p>
                    <div class="menu_body" style="display: none;">
                        <p>theonlytutorials.com is providing a great varitey of tutorials and scripts to use it immediate on any project!</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="content-sidebar">
            <h4>Categories</h4>
            <ul>
                <li><a href="#">Accord Mobiles</a></li>
                <li><a href="#">Ace Mobile</a></li>
                <li><a href="#">Acer Mobile</a></li>
                <li><a href="#">Airfone</a></li>
                <li><a href="#">Apple</a></li>
                <li><a href="#">Blackberry</a></li>
                <li><a href="#">Byond Tech</a></li>
                <li><a href="#">Celkon Mobiles</a></li>
                <li><a href="#">Dell Mobile Phones </a></li>
                <li><a href="#">Fly Mobile</a></li>
                <li><a href="#">Fujezone Mobiles </a></li>
                <li><a href="#">HTC</a></li>
                <li><a href="#">LG Mobiles</a></li>
                <li><a href="#">Longtel Mobile</a></li>
                <li><a href="#">Maxx</a></li>
                <li><a href="#">Micromax Mobiles </a></li>
                <li><a href="#">Samsung Mobiles</a></li>
                <li><a href="#">Sony Ericsson Mobiles</a></li>
                <li><a href="#">Wynncom Mobiles</a></li>
            </ul>
        </div>
    </div>
    <div class="clear"> </div>
    </div>
</body>
</html>
