﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE HTML>
<html>
<head>
    <title>Mobilestore Website Template | Home :: W3layouts</title>
    <link href="~/CSS/Store/style.css" rel="stylesheet" type="text/css" media="all" />
    <meta name="keywords" content="Mobilestore iphone web template, Andriod web template, Smartphone web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <link href='http://fonts.googleapis.com/css?family=Londrina+Solid|Coda+Caption:800|Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/CSS/Store/responsiveslides.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="~/Scripts/Store/responsiveslides.min.js"></script>
    <script>
		    // You can also use "$(window).load(function() {"
			    $(function () {

			      // Slideshow 1
			      $("#slider1").responsiveSlides({
			        maxwidth: 1600,
			        speed: 600
			      });
			});
    </script>
</head>
<body>
    <!--start-image-slider---->
    <h2>AAA</h2>
    <h2>AAA</h2>
    <div class="wrap">
        <div class="image-slider">
            <!-- Slideshow 1 -->
            <ul class="rslides" id="slider1">
                <li><img src="~/Image/newproduct/product1.png" alt=""></li>
                <li><img src="~/Image/newproduct/product2.png" alt=""></li>
                <li><img src="~/Image/newproduct/product3.png" alt=""></li>
            </ul>
            <!-- Slideshow 2 -->
        </div>
        <!--End-image-slider---->
    </div>
    <div class="clear"> </div>
    <div class="wrap">
        <div class="content">
            <div class="top-3-grids">
                <div class="section group">
                    <div class="grid_1_of_3 images_1_of_3">
                        <a href="single.html"><img src="images/grid-img1.jpg"></a>
                        <h3>Lorem Ipsum is simply dummy text </h3>
                    </div>
                    <div class="grid_1_of_3 images_1_of_3 second">
                        <a href="single.html"><img src="images/grid-img2.jpg"></a>
                        <h3>Lorem Ipsum is simply dummy text </h3>
                    </div>
                    <div class="grid_1_of_3 images_1_of_3 theree">
                        <a href="single.html"><img src="images/grid-img3.jpg"></a>
                        <h3>Lorem Ipsum is simply dummy text </h3>
                    </div>
                </div>
            </div>

            <div class="content-grids">
                <h4>New Product</h4>
                <div class="section group">
                    <div class="grid_1_of_4 images_1_of_4 products-info">
                        <img src="~/Image/CPU/CPU007.jpg" style="width:120px; height:128px">
                        <a href="single.html">Intel Core i7-6700K 4.0GHz (4.4GHz Turbo Boost )</a>
                        <h3>$260</h3>
                        <ul>
                            <li><a class="cart" href="single.html"> </a></li>
                            <li><a class="i" href="single.html"> </a></li>
                            <li><a class="Wishlist" href="single.html"> </a></li>
                        </ul>
                    </div>
                    <div class="grid_1_of_4 images_1_of_4 products-info">
                        <img src="~/Image/VGA/VGA047.jpg" style="width:120px; height:128px">
                        <a href="single.html">Asus Nvidia GTX 1080 Strix A8GB Gaming ( 256 Bit ) DDR5</a>
                        <h3>$150</h3>
                        <ul>
                            <li><a class="cart" href="single.html"> </a></li>
                            <li><a class="i" href="single.html"> </a></li>
                            <li><a class="Wishlist" href="single.html"> </a></li>
                        </ul>
                    </div>
                    <div class="grid_1_of_4 images_1_of_4 products-info">
                        <img src="~/Image/VGA/VGA048.jpg" style="width:120px; height:128px">
                        <a href="single.html">Gigabyte GTX 980Ti Extreme 6GB ( 384 bit ) DDR5</a>
                        <h3>$130</h3>
                        <ul>
                            <li><a class="cart" href="single.html"> </a></li>
                            <li><a class="i" href="single.html"> </a></li>
                            <li><a class="Wishlist" href="single.html"> </a></li>
                        </ul>
                    </div>
                    <div class="grid_1_of_4 images_1_of_4 products-info">
                        <img src="~/Image/RAM/RAM040.jpg" style="width:120px; height:128px">
                        <a href="single.html">Corsair Vengeance LPX Red</a>
                        <h3>$460</h3>
                        <ul>
                            <li><a class="cart" href="single.html"> </a></li>
                            <li><a class="i" href="single.html"> </a></li>
                            <li><a class="Wishlist" href="single.html"> </a></li>
                        </ul>
                    </div>
                </div>
                <div class="section group">
                    <div class="grid_1_of_4 images_1_of_4 products-info">
                        <img src="~/Image/RAM/RAM034.jpg" style="width:120px; height:128px">
                        <a href="single.html">Gskill RIPJAWS X Gaming Series</a>
                        <h3>$260</h3>
                        <ul>
                            <li><a class="cart" href="single.html"> </a></li>
                            <li><a class="i" href="single.html"> </a></li>
                            <li><a class="Wishlist" href="single.html"> </a></li>
                        </ul>
                    </div>
                    <div class="grid_1_of_4 images_1_of_4 products-info">
                        <img src="~/Image/ManHinh/MH031.jpg" style="width:120px; height:128px">
                        <a href="single.html">DELL 27 ULTRASHARP UP2715K 5K IPS</a>
                        <h3>$100</h3>
                        <ul>
                            <li><a class="cart" href="single.html"> </a></li>
                            <li><a class="i" href="single.html"> </a></li>
                            <li><a class="Wishlist" href="single.html"> </a></li>
                        </ul>
                    </div>
                    <div class="grid_1_of_4 images_1_of_4 products-info">
                        <img src="~/Image/MainBoard/MAIN037.jpg" style="width:120px; height:128px">
                        <a href="single.html">Gigabyte Z170X-Gaming 5 - LGA 1151 Skylake</a>
                        <h3>$180</h3>
                        <ul>
                            <li><a class="cart" href="single.html"> </a></li>
                            <li><a class="i" href="single.html"> </a></li>
                            <li><a class="Wishlist" href="single.html"> </a></li>
                        </ul>
                    </div>
                    <div class="grid_1_of_4 images_1_of_4 products-info">
                        <img src="~/Image/OCung/OC034.jpg" style="width:120px; height:128px">
                        <a href="single.html">SSD Samsung 850 EVO</a>
                        <h3>$140</h3>
                        <ul>
                            <li><a class="cart" href="single.html"> </a></li>
                            <li><a class="i" href="single.html"> </a></li>
                            <li><a class="Wishlist" href="single.html"> </a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="content-sidebar">
                <h4>Categories</h4>
                <ul>
                    <li><a href="http://localhost:1289/Store/Category?cat=1">MainBoard</a></li>
                    <li><a href="http://localhost:1289/Store/Category?cat=2">CPU</a></li>
                    <li><a href="http://localhost:1289/Store/Category?cat=3">RAM</a></li>
                    <li><a href="http://localhost:1289/Store/Category?cat=4">Monitor</a></li>
                    <li><a href="http://localhost:1289/Store/Category?cat=5">VGA</a></li>
                    <li><a href="http://localhost:1289/Store/Category?cat=6">Hard Drive</a></li>
                    <li><a href="http://localhost:1289/Store/Category?cat=7">PSU</a></li>
                </ul>
            </div>
        </div>
        <div class="clear"> </div>
    </div>
</body>
</html>


